<!DOCTYPE html>
<html lang="en" ng-app="synappse">
<head>
	<meta charset="utf-8">
	<title>Synapp.se DB</title>
</head>
<body ng-controller="main">
	
	<header>
		<p ng-hide="auth">
			Connecting to Dropbox… <a href="" ng-click="connect()">retry</a>
		</p>
		<p ng-show="auth">
			<a href="" ng-click="syncProjects()">Sync projects</a>
		</p>
	</header>
	
	<section ng-repeat="project in projects" ng-controller="project">
		<h3><b>{{ project.id }}</b> — {{ project.name }}</h3>
		<ul>
			<li ng-repeat="task in project.tasks" ng-controller="task">
				<b>{{ task.id }}</b> — {{ task.name }} <a href="" ng-click="deleteTask()">delete task</a>
			</li>
			<li>
				<form ng-submit="createTask()">
					<label>Name: <input type="text" ng-model="taskName"></label>
					<input type="submit" value="Add task">
				</form>
			</li>
		</ul>
		<p ng-show="auth">
			<a href="" ng-click="syncProject()">sync project</a>
		</p>
		<hr>
	</section>
	
	<form ng-submit="createProject()">
		<label>Name: <input type="text" ng-model="projectName"></label><br>
		<input type="submit" value="Create project">
	</form>
	
	
			
	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.1/dropbox.min.js"></script>
	<script src="app.js"></script>

</body>
</html>