// Grid units
$base: 1em
$unit: 1.538em

// Font weights
$thin: 100
$light: 300
$regular: 400
$bold: 700

// Base Font
$base-font-family: "Lato", sans-serif
$base-font-weight: $regular

// Colors
$white : #FFFFFF
$black : #000000
$grey  : #262626
$violet: #5C4975
$lightviolet: rgba(168,138,198,0.4)
$lightgrey	: rgba(160,158,162,0.35)
$lightblue	: #0AF
$darkgrey	: #020202
$backgroundgrey: #F8F6F6
$commentsBackground: #2F2F2F

/* Import modules here */