<div task-form ng-if="editMode"></div>
<p ng-hide="editMode" ng-class="{'task-priority':task.priority, 'task-late':late}">
  <time class="task-date">{{ task.due | miniDate }}</time>
  <span class="task-content">
    <a class="task-name" href="" ng-click="toggleForm()">{{ task.name }}</a>
    <span class="task-info">
      <span ng-repeat="user in task.users">{{ user | DropboxUIDToUsername: project.id | assignee }}</span>
      <select ng-model="task.status" ng-options="s.k as s.v for s in statuses"></select>
    </span>
  </span>
  <span class="task-comments-nb"></span>
</p>