* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 798px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 1.5;
  color: #101010; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal; }

ul, ol {
  list-style: none; }

a {
  color: #5c4975;
  text-decoration: none; }

.txt-right, .task-date, .task-info {
  text-align: right; }

.small, .task-date {
  font-size: 9.45px;
  line-height: 21px; }

.serif, body {
  font-family: "Merriweather" Georgia, Times, "Times New Roman", "Droid Serif", serif; }

.sans, .task-date {
  font-family: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif; }

.uppercase, .task-date {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.x-bold, .task-date {
  font-weight: 900; }

.wrapper {
  max-width: 630px;
  margin: auto; }

.task {
  position: relative; }

.task-date {
  position: absolute;
  top: 0;
  right: 100%;
  width: 63px;
  padding-right: 21px; }

.task-comments-nb {
  position: absolute;
  top: 0;
  left: 100%;
  width: 63px;
  padding-left: 21px; }

.task-content {
  display: table;
  table-layout: fixed;
  width: 100%; }

.task-name, .task-info {
  display: table-cell;
  vertical-align: top; }

.task-info {
  width: 168px; }
