@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

sup, sub {
  line-height: 0;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  color: #494454;
}

body {
  font-size: 1.6em;
  -webkit-font-smooth: always;
  -moz-font-smooth: always;
  font-smooth: always;
}

i {
  font-style: normal;
}

textarea, input, button {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  color: #5c4975;
  text-decoration: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.cursor, .db-button {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.light, .main-infos, .big, .pre-footer {
  font-weight: 300;
}

.regular, .role {
  font-weight: 400;
}

.bold, h3, .name {
  font-weight: 700;
}

.italic, .big, .name, .pre-footer {
  font-style: italic;
}

.center, .hero, .big, .pre-footer {
  text-align: center;
}

.absolute-center-content, .hero-content, .pre-footer-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50%;
}

.hero {
  position: relative;
  height: 30em;
  background: #5c4975 no-repeat url("images/hero-bg.png");
  background-size: cover;
  color: white;
}

.main-title {
  margin: 0.66667em 0;
  font-size: 2.5em;
  letter-spacing: 0.15em;
}

.main-infos {
  margin-bottom: 1.5em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.db-button {
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 1em;
  color: white;
  border: none;
  -webkit-border-radius: 0.33333em;
  -moz-border-radius: 0.33333em;
  -ms-border-radius: 0.33333em;
  -o-border-radius: 0.33333em;
  border-radius: 0.33333em;
  border: solid 1px #1e88e8;
  /* Fallback */
  background: #1e88e8;
  background: -webkit-linear-gradient(to bottom, #1e88e8, #0d7ee5);
  background: linear-gradient(to bottom, #1e88e8, #0d7ee5);
  -webkit-box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.1em;
}

.db-icon {
  vertical-align: sub;
  margin-right: 0.5em;
}

.wrapper {
  display: block;
  width: 66%;
  height: 100%;
  margin: 6em auto;
}

.article {
  width: 22.5em;
}

.title-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.db-title {
  opacity: 0.57;
}

h3 {
  display: inline-block;
  height: 2em;
  margin-bottom: 1.5em;
  border-bottom: solid 3px #5a457c;
  color: #5a457c;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  vertical-align: top;
}

.text {
  line-height: 1.66;
  text-align: justify;
}

.big {
  float: none;
  width: 66%;
  margin: 3em auto;
  font-size: 2em;
}

.big:before {
  content: "« ";
}

.big:after {
  content: " »";
  display: inline;
}

.team-member {
  float: left;
  width: 20%;
}

.photos {
  max-width: 80%;
}

.name {
  display: block;
  color: #5a457c;
  font-family: "Merriweather" Georgia, Times, "Times New Roman", "Droid Serif", serif;
  margin: 1em 0 0 0;
}

.role {
  display: block;
  color: #5a457c;
  font-family: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  margin: 0.9em 0;
  font-size: 0.6em;
  font-style: normal;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.pre-footer {
  position: relative;
  height: 15em;
  background: #5c4975 no-repeat url("images/hero-bg.png");
  background-size: cover;
  color: #b4aac7;
  font-family: "Merriweather" Georgia, Times, "Times New Roman", "Droid Serif", serif;
}

.contact-title {
  border-bottom: solid 3px white;
  color: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  font-style: normal;
}

.contact-mail {
  color: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
}

.contact-mail:before {
  content: "";
}

.contact-mail:after {
  content: "";
}

.footer-text {
  color: #b4aac7;
  font-size: 0.8em;
}

footer {
  height: 4.5em;
  line-height: 4.5em;
  background: #453b58;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 85%;
    margin: 3em auto;
  }

  .article {
    float: none;
    width: 100%;
    margin-bottom: 3em;
  }

  .article:last-child {
    margin-bottom: 0;
  }

  h3 {
    letter-spacing: 0.2em;
  }

  blockquote .big {
    margin: 0;
  }

  .team-member {
    display: inline-block;
    float: none;
    width: 30%;
    text-align: center;
  }

  .name {
    font-size: 0.55em;
  }

  .role {
    font-size: 0.4em;
  }
}
