/* -------------------- Mixins -------------------- */
/* ------------------------------------------------------------------------------ */
/** Add prefix for transitions ** */
.noselect, .task-assignment span, .task-priority-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix:before, .task-left:before, .clearfix:after, .task-left:after {
  content: " ";
  display: table;
}

.clearfix:after, .task-left:after {
  clear: both;
}

/* -------------------- Reset -------------------- */
/* ------------------------------------------------------------------------------ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

sup, sub {
  line-height: 0;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  -webkit-font-smooth: always;
  -moz-font-smooth: always;
  font-smooth: always;
}

i {
  font-style: normal;
}

textarea, input, button {
  font-size: 1em;
}

/* Import modules here */
/* -------------------- General styles -------------------- */
/* ------------------------------------------------------------------------------ */
body {
  font-family: "Lato", sans-serif;
  color: #262626;
}

input, textarea, select {
  padding: 0.5em;
  border: 1px solid rgba(160, 158, 162, 0.35);
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  font-size: inherit;
  color: #80c9df;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s ease Os;
  -moz-transition: all 0.3s ease Os;
  -ms-transition: all 0.3s ease Os;
  -o-transition: all 0.3s ease Os;
  transition: all 0.3s ease Os;
}
a:hover {
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.5s ease Os;
  -moz-transition: all 0.5s ease Os;
  -ms-transition: all 0.5s ease Os;
  -o-transition: all 0.5s ease Os;
  transition: all 0.5s ease Os;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.66em;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

.navbar {
  display: inline-block;
}
.navbar ul li {
  display: inline;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.red {
  color: red;
}

/* -------------------- Wrappers -------------------- */
/* ------------------------------------------------------------------------------ */
.home-wrapper {
  margin: 0 auto;
  text-align: center;
}

.main-section {
  margin-top: 6.152em;
  width: 60%;
  height: 100%;
}

.comments-section {
  position: fixed;
  top: 6.152em;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 40%;
  background: #2f2f2f;
  color: white;
}

.wrapper {
  padding: 1em 1.538em;
}

/* -------------------- Header -------------------- */
/* ------------------------------------------------------------------------------ */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.152em;
  line-height: 6.152em;
  background: #5c4975;
  color: white;
}

.header-main {
  float: left;
  width: 60%;
  height: 100%;
}

.header-profile {
  float: right;
  width: 40%;
  height: 100%;
  background: rgba(168, 138, 198, 0.4);
}

.logo {
  display: inline-block;
  padding: 0 1.538em;
  color: white;
  font-size: 2em;
  font-weight: 700;
}

.main-title {
  display: inline-block;
  margin-right: 4.614em;
}
.main-title a {
  color: white;
  font-weight: 100;
  opacity: 0.37;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-title a:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.profile-avatar {
  padding: 0 1.538em;
}

.profile-link {
  color: white;
  padding: 0 1.538em;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.profile-link:hover {
  opacity: 0.57;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.profile-username {
  color: white;
  font-size: 1.2em;
  text-shadow: 0 2px 1px #5c4975;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.profile-username:hover {
  opacity: 0.57;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-nav ul li::after {
  content: "   -   ";
}
.main-nav ul li:last-child::after {
  content: "";
}
.main-nav a {
  color: white;
}

/* -------------------- Home page -------------------- */
/* ------------------------------------------------------------------------------ */
.home-title {
  margin: 1.538em 0;
  font-size: 4.614em;
  text-align: center;
}

.home-creation {
  display: block;
  margin: 1.538em auto 3.076em auto;
  width: 15.38em;
}
.home-creation input {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* -------------------- Project page -------------------- */
/* ------------------------------------------------------------------------------ */
.project-nav {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.project-nav ul {
  height: 4em;
}
.project-nav li {
  display: inline-block;
  margin-right: 3.076em;
  line-height: 4em;
}
.project-nav li:last-child {
  margin-right: 0;
}
.project-nav li a {
  position: relative;
  display: block;
  height: 100%;
  color: #a88ac6;
  text-transform: uppercase;
}
.project-nav li a:hover {
  color: #5c4975;
}
.project-nav li.active a {
  color: #5c4975;
}
.project-nav li.active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #5c4975;
}

.task-create {
  border-top: 1px solid rgba(160, 158, 162, 0.35);
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
  background: #f8f6f6;
}

.task-form {
  min-height: 13.842em;
  margin-bottom: 1.538em;
  border: 1px solid rgba(160, 158, 162, 0.35);
  border-bottom: none;
  color: #5d546a;
}

.form-element {
  float: left;
  height: 3.076em;
  width: 100%;
  line-height: 3.076em;
  padding-left: 1em;
}

.task-text {
  display: block;
  height: 7.69em;
  width: 100%;
  padding: 1em;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
}
.task-text::-webkit-input-placeholder {
  color: #5d546a;
}
.task-text::-moz-placeholder {
  color: #5d546a;
}
.task-text:-ms-input-placeholder {
  color: #5d546a;
}
.task-text:-moz-placeholder {
  color: #5d546a;
}

.task-assignment-wrapper {
  display: block;
  width: 100%;
  height: 3.076em;
  line-height: 3.076em;
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
}
.task-assignment-wrapper:before {
  content: "Assign to : ";
  margin-right: 0.5em;
}

.task-assignment span {
  margin-right: 1em;
  padding: 0.2em 0.4em;
  background: #949297;
  cursor: pointer;
  color: white;
  font-size: 0.8em;
  font-weight: 300;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px rgba(160, 158, 162, 0.35);
}
.task-assignment:last-child {
  margin: 0;
}

.task-assignment-checkbox {
  display: none;
}

.task-assignment-checkbox:checked + span {
  background: #715881;
}

.task-from {
  width: 37.5%;
  border-right: 1px solid rgba(160, 158, 162, 0.35);
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
}
.task-from:before {
  content: "From : ";
  margin-right: 0.5em;
}
.task-from input {
  background: none;
  border: none;
}

.task-to {
  width: 37.5%;
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
}
.task-to:before {
  content: "To : ";
  margin-right: 0.5em;
}
.task-to input {
  background: none;
  border: none;
}

.task-buttons {
  float: right;
  height: 100%;
  width: 25%;
  max-height: 3.076em;
}

.task-button-priority {
  float: left;
  height: 3.076em;
  width: 3.076em;
  line-height: 3.076em;
  background: #2f2f2f;
  text-align: center;
  color: white;
  box-shadow: inset 0em -1.1em 0em -1em rgba(0, 0, 0, 0.2);
}

.task-checkbox-priority {
  display: none;
}

.task-priority-label {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.538em;
  cursor: pointer;
}
.task-checkbox-priority:checked + .task-priority-label {
  background: #973611;
}

.task-submit {
  float: right;
  display: block;
  height: 3.076em;
  line-height: 3.076em;
  width: -webkit-calc(100% - 3.076em);
  width: -moz-calc(100% - 3.076em);
  width: -ms-calc(100% - 3.076em);
  width: calc(100% - 3.076em);
  border: none;
  background: #80c9df;
  color: white;
  box-shadow: inset 0em -1.1em 0em -1em rgba(0, 0, 0, 0.2);
}
.task-submit:hover {
  background: rgba(128, 201, 223, 0.8);
  cursor: pointer;
}

.task-item {
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
}
.task-item:last-child {
  border-bottom: none;
}

.task-left {
  float: none;
  display: block;
}

.task-title {
  display: inline-block;
  margin-right: 1.538em;
  font-size: 1.2em;
  font-weight: 400;
}

.task-tag-list {
  display: inline;
}
.task-tag-list li {
  display: inline-block;
  margin-right: 1em;
  padding: 0em 0.4em;
  background: silver;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px rgba(160, 158, 162, 0.35);
}
.task-tag-list li a {
  color: white;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: 0.1em;
}
.task-tag-list:last-child {
  margin: 0;
}

.task-second-line {
  float: none;
  display: block;
  color: #949297;
  font-size: 0.8em;
}

.action-link {
  display: inline-block;
  margin-right: 1em;
}

.dropdown-wrapper {
  float: right;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 7.69em;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
}
.dropdown-wrapper:after {
  content: "";
  width: 0em;
  height: 0em;
  border-style: solid;
  border-width: 1em 0.5em 0 0.5em;
  border-color: #007bff transparent transparent transparent;
}

.task-status {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  vertical-align: top;
  z-index: 90;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px black;
}
.task-status li {
  display: block;
  padding: 0.2em 0.4em;
  text-transform: uppercase;
}
.task-status li:hover {
  background: green;
}
.task-status li:first-child {
  border-top-left-radius: 2px #ffd686;
  border-top-right-radius: 2px #ffd686;
}
.task-status li:last-child {
  border-bottom-left-radius: 2px #9ed688;
  border-bottom-right-radius: 2px #9ed688;
}
.task-status.active {
  opacity: 1;
  pointer-events: auto;
}

.status-todo {
  background: #ffd686;
}

.status-started {
  background: #7bcae2;
}

.status-advanced {
  background: #a4d9cd;
}

.status-done {
  background: green;
}

.status-verified {
  background: #9ed688;
}

/* -------------------- Comments module -------------------- */
/* ------------------------------------------------------------------------------ */
.comments-title {
  height: 4em;
  padding-top: 0;
  padding-bottom: 0;
}
.comments-title h3 {
  display: inline;
  line-height: 4em;
  font-size: 1em;
  font-weight: 400;
  text-shadow: 0 2px 1px black;
}

.comments-module {
  height: 100%;
}

.input-comments {
  display: block;
  position: relative;
  right: 0;
}

.comments-list {
  display: block;
  background: #020202;
}
.comments-list li {
  border-bottom: 1px solid white;
}
.comments-list li .action-link {
  color: white;
  text-decoration: underline;
}
.comments-list li .action-link:hover {
  color: white;
  text-decoration: none;
}
