/* -------------------- Reset CSS -------------------- */
/* ------------------------------------------------------------------------------ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

sup, sub {
  line-height: 0; }

a img {
  border: 0; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 1.6em;
  -webkit-font-smooth: always;
  -moz-font-smooth: always;
  font-smooth: always; }

/* -------------------- SASS Variables -------------------- */
/* ------------------------------------------------------------------------------ */
/* Grid units */
/* Colors */
/* -------------------- Mixins -------------------- */
/* ------------------------------------------------------------------------------ */
/* -------------------- Animations when changing pages -------------------- */
/* ------------------------------------------------------------------------------ */
.global-wrapper {
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.main-view-frame.ng-enter,
.main-view-frame.ng-leave {
  background: white;
  position: absolute; }

.main-view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100; }

.main-view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/* -------------------- General styles -------------------- */
/* ------------------------------------------------------------------------------ */
body {
  font-family: "Lato", sans-serif;
  color: #262626; }

input, textarea, select {
  padding: 0.5em;
  border: 1px solid rgba(160, 158, 162, 0.35);
  font-family: "Lato", sans-serif; }

ul {
  list-style-type: none; }

a {
  font-size: inherit;
  color: #00aaff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: blue;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

h1 {
  font-size: 2em;
  font-weight: 700; }

h2 {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1.66em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

.navbar {
  display: inline-block; }
  .navbar ul li {
    display: inline; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.red {
  color: red; }

/* -------------------- Wrappers -------------------- */
/* ------------------------------------------------------------------------------ */
.home-wrapper {
  margin: 0 auto;
  text-align: center; }

.main-section {
  margin-top: 6.152em;
  width: 60%;
  height: 100%; }

.comments-section {
  position: fixed;
  top: 6.152em;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 40%;
  background: #2f2f2f;
  color: white; }

.wrapper {
  padding: 1em 1.538em; }

/* -------------------- Header -------------------- */
/* ------------------------------------------------------------------------------ */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.152em;
  background: #5c4975;
  color: white;
  line-height: 6.152em; }

.header-main {
  float: left;
  width: 60%;
  height: 100%; }

.header-profile {
  float: right;
  width: 40%;
  height: 100%;
  background: rgba(168, 138, 198, 0.4); }

.logo {
  display: inline-block;
  padding: 0 1.538em;
  color: white;
  font-size: 2em;
  font-weight: 700; }

.main-title {
  display: inline-block;
  margin-right: 4.614em; }
  .main-title a {
    color: white;
    font-weight: 100;
    opacity: 0.37;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main-title a:hover {
      opacity: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

.profile-avatar {
  padding: 0 1.538em; }

.profile-link {
  color: white;
  padding: 0 1.538em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .profile-link:hover {
    opacity: 0.57;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.profile-username {
  color: white;
  font-size: 1.2em;
  text-shadow: 0 2px 1px #5c4975;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .profile-username:hover {
    opacity: 0.57;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.main-nav ul li::after {
  content: "   -   "; }
.main-nav ul li:last-child::after {
  content: ""; }
.main-nav a {
  color: white; }

/* -------------------- Home page -------------------- */
/* ------------------------------------------------------------------------------ */
.home-title {
  margin: 1.538em 0;
  font-size: 4.614em;
  text-align: center; }

.home-creation {
  display: block;
  margin: 1.538em auto 3.076em auto;
  width: 15.38em; }
  .home-creation input {
    display: inline-block;
    width: 100%;
    text-align: center; }

/* -------------------- Project page -------------------- */
/* ------------------------------------------------------------------------------ */
.project-nav {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }
  .project-nav ul {
    height: 4em; }
  .project-nav li {
    display: inline-block;
    margin-right: 3.076em;
    line-height: 4em; }
    .project-nav li:last-child {
      margin-right: 0; }
    .project-nav li a {
      position: relative;
      display: block;
      height: 100%;
      color: #a88ac6;
      text-transform: uppercase; }
      .project-nav li a:hover {
        color: #5c4975; }
    .project-nav li.active a {
      color: #5c4975; }
    .project-nav li.active a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #5c4975; }

.task-create {
  border-top: 1px solid rgba(160, 158, 162, 0.35);
  border-bottom: 1px solid rgba(160, 158, 162, 0.35);
  background: #f8f6f6; }

.task-item {
  border-bottom: 1px solid rgba(160, 158, 162, 0.35); }
  .task-item:last-child {
    border-bottom: none; }

.task-title {
  display: inline-block;
  margin-right: 1.538em;
  font-size: 1.2em;
  font-weight: 400; }

.task-tag-list {
  display: inline; }
  .task-tag-list li {
    display: inline-block;
    margin-right: 1em;
    padding: 0.2em;
    background: rgba(160, 158, 162, 0.35);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px rgba(160, 158, 162, 0.35); }
    .task-tag-list li a {
      color: white;
      font-size: 0.8em;
      font-weight: 300; }
  .task-tag-list:last-child {
    margin: 0; }

.task-second-line {
  color: rgba(160, 158, 162, 0.35);
  font-size: 0.8em; }

.action-link {
  display: inline-block;
  margin-right: 1em; }

/* -------------------- Comments module -------------------- */
/* ------------------------------------------------------------------------------ */
.comments-title {
  height: 4em;
  padding-top: 0;
  padding-bottom: 0; }
  .comments-title h3 {
    display: inline;
    line-height: 4em;
    font-size: 1em;
    font-weight: 400;
    text-shadow: 0 2px 1px black; }

.comments-module {
  height: 100%; }

.input-comments {
  display: block;
  position: relative;
  right: 0; }

.comments-list {
  display: block;
  background: #020202; }
  .comments-list li {
    border-bottom: 1px solid white; }
    .comments-list li .action-link {
      color: white;
      text-decoration: underline; }
      .comments-list li .action-link:hover {
        color: white;
        text-decoration: none; }

/* -------------------- Calendar -------------------- */
/* ------------------------------------------------------------------------------ */
.calendar-container {
  height: 300px;
  width: 300px;
  margin: 1em;
  background: #f6f6f6;
  text-align: center;
  color: white; }
  .calendar-container .calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    background: rgba(144, 27, 144, 0.75);
    font-size: 1.2em; }
  .calendar-container .calendar-arrow {
    display: block;
    margin: 1em 0;
    color: white;
    font-size: 1.6em; }
