@font-face {
	font-family: 'app';
	src:url('fonts/app.eot');
	src:url('fonts/app.eot?#iefix') format('embedded-opentype'),
		url('fonts/app.woff') format('woff'),
		url('fonts/app.ttf') format('truetype'),
		url('fonts/app.svg#app') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"]:after {
	font-family: 'app';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:after {
	content: " \e600";
}
.icon-arrow-down:after {
	content: " \e601";
}
.icon-list:after {
	content: " \e602";
}
