// Variables
// ------------------------------
$color		 : #5C4975;
$dark		 : #101010;
$db-button-1 : #1E88E8;
$db-button-2 : #0D7EE5;
$title-color : #5A457C;
$font-color  : #494454;
$footer-bckg : #453B58;
$footer-font : #B4AAC7;

$sans  : "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
$serif : "Merriweather" Georgia, Times, "Times New Roman", "Droid Serif", serif;
$base  : 1em;
$unit  : $base*1.5;

$light   : 300;
$regular : 400;
$bold 	 : 700;


// Common
// ------------------------------
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
sup, sub { line-height: 0 }
a img { border: 0; }
img { max-width: 100%; height: auto; }
html { height: 100%; font-size: 62.5% /* 1em = 10px */; font-family: $sans; color: $font-color; }
body { font-size: 1.6em /* Childs : 1em = 16px */; -webkit-font-smooth: always; -moz-font-smooth: always; font-smooth: always; }
i { font-style: normal; }
textarea, input, button { font-size: 1em; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }
ul, ol { list-style: none; }
a { color: $color; text-decoration: none;  }

.antialiased { -webkit-font-smoothing: antialiased; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
.cursor { cursor: pointer; }
.left { float: left; }
.right { float: right; }
.clearfix:after { content: ""; display: table; clear: both; }
.hide { display: none; }
.light { font-weight: $light; }
.regular { font-weight: $regular; }
.bold { font-weight: $bold; }
.italic { font-style: italic; }
.center { text-align: center; }
.absolute-center-content { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 50%; }


// Mixins
// ------------------------------

@mixin border-radius($radius, $color, $width) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; -o-border-radius: $radius; border-radius: $radius; border: solid $width $color; }
@mixin db-linear-gradient($color1, $color2) { /* Fallback */ background: $color1; background: -webkit-linear-gradient(to bottom, $color1, $color2); background: linear-gradient(to bottom, $color1, $color2); }
@mixin box-shadow($x, $y, $blur, $spread, $color) { -webkit-box-shadow: $x $y $blur $spread $color; -moz-box-shadow: $x $y $blur $spread $color; -ms-box-shadow: $x $y $blur $spread $color; -o-box-shadow: $x $y $blur $spread $color; box-shadow: $x $y $blur $spread $color; }


// Specific
// ------------------------------

.hero { position: relative; height: 20*$unit; background: $color; color: white; @extend .center; }
.hero-content { @extend .absolute-center-content; }
.main-title { margin: $base/1.5 0; font-size: 2.5*$base; letter-spacing: 0.15em; }
.main-infos { margin-bottom: $unit; font-size: $unit; @extend .light; letter-spacing: 0.1em; }
.db-button { height: 2*$unit; padding: 0 $base; color: white; border: none; @include border-radius($base/2, $db-button-1, 1px); @include db-linear-gradient($db-button-1, $db-button-2); @include box-shadow(0px, 6px, 4px, 0px, rgba(0, 0, 0, 0.1)); @extend .cursor; letter-spacing: 0.1em; }

.wrapper { display: block; width: 66%; height: 100%; margin: 4*$unit auto; @extend .clearfix; }
.article { width: 15*$unit; }
h3 { display: inline-block; height: 2*$base; margin-bottom: $unit; border-bottom: solid 3px $title-color; color: $title-color; text-transform: uppercase; letter-spacing: 0.3em; @extend .bold; }
.text { line-height: 1.66; text-align: justify; }

.big { float: none; width: 66%; margin: 2*$unit auto; font-size: 2*$base; @extend .italic; @extend .light; @extend .center; }
.big:before { content: "« "; }
.big:after { content: " »"; display: inline; }

.team-member { float: left; width: 20%; }
.photos { max-width: 80%; }
.name { display: block; color: $title-color; font-family: $serif; margin: 1em 0 0 0; @extend .italic; @extend .bold; }
.role { display: block; color: $title-color; font-family: $sans;  margin: 0.9em 0; font-size: 0.6*$base; font-style: normal; opacity: 0.5; text-transform: uppercase; letter-spacing: 0.3em; @extend .regular; }

.pre-footer { position: relative; height: 10*$unit; background: $color; color: $footer-font; font-family: $serif; @extend .italic; @extend .center; @extend .light; }
.pre-footer-content { @extend .absolute-center-content; }
.contact-title { border-bottom: solid 3px white; color: white; font-family: $sans; font-style: normal; }
.contact-mail { color: white; font-family: $sans; }
.contact-mail:before { content: ""; }
.contact-mail:after { content: ""; }
.footer-text { color: $footer-font; font-size: 0.8em;}
footer { height: 3*$unit; line-height: 3*$unit; background: $footer-bckg; }

<<<<<<< HEAD
@media screen and (max-width: 1200px) {
	.wrapper { width: 85%; margin: 2*$unit auto; }
	.article { float: none; width: 100%; margin-bottom: 2*$unit; }
	.article:last-child { margin-bottom: 0; }
	h3 { letter-spacing: 0.2em; }
	blockquote .big { margin: 0; }
	.team-member { display: inline-block; float: none; width: 30%; text-align: center; }
	.name { font-size: 0.55em; }
	.role { font-size: 0.4em; }
}
=======
//.photos { position: absolute; clip: circle(65px, 65px, 130px); }
>>>>>>> 77eee50af5e4abb5e43e336f1af32cf3cecd4140
