// Variables
// ------------------------------
$color: #5C4975;
$dark: #101010;

$sans: "Lato", "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
$serif: "Merriweather" Georgia, Times, "Times New Roman", "Droid Serif", serif;
$base: 14px;
$unit: $base*1.5;



// Common
// ------------------------------
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
body { @extend .serif; padding-bottom: 50px; font-size: $base; line-height: 1.5; color: $dark; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }
ul, ol { list-style: none; }
a { color: $color; text-decoration: none;  }

.antialiased { -webkit-font-smoothing: antialiased; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
.cursor { cursor: pointer; }
.clearfix:after { content: ""; display: table; clear: both; }
.hide { display: none; }



// Global
// ------------------------------
.wrapper { max-width: $unit*30; margin: auto; }



// Specific
// ------------------------------