// Variables
// ------------------------------
$color: #5C4975;
$red: #963029;
$dark: #101010;
$light: #676767;
$lighter: #A0A0A0;
$shade: #E4E4E4;

$db-button-1: #1E88E8;
$db-button-2: #0D7EE5;
$title-color: #5A457C;
$font-color: #494454;
$footer-bckg: #453B58;
$footer-font: #B4AAC7;

$sans: Lato, "Helvetica Neue", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
$serif: "Merriweather", Georgia, Times, "Times New Roman", "Droid Serif", serif;
$base: 16px;
$unit: $base*1.5;

@import "_normalize.scss";
@import "_icons.scss";


// Common
// ------------------------------
.antialiased 	{ -webkit-font-smoothing: antialiased; }
.noselect 		{ -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
.cursor 		{ cursor: pointer; }
.hide 			{ display: none; }

.font-light 	{ font-weight: 300; }
.font-regular 	{ font-weight: 400; }
.font-bold 		{ font-weight: 700; }
.font-xbold 	{ font-weight: 900; }
.italic 		{ font-style: italic; }
.txt-center 	{ text-align: center; }
.txt-right 		{ text-align: right;  }

.left 			{ float: left;  }
.right 			{ float: right; }
.clearfix:after { content: ""; display: table; clear: both; }

.absolute-center-content { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 50%; height: 50%; }

.btn {
	@extend .txt-center, .cursor, .noselect;
	display: inline-block;
	padding: $unit/2 $unit/2;
	border: 1px solid $shade; border-radius: 2px;
	background: lighten($shade, 10%);
	&:hover { color: $dark; background: lighten($shade, 2%); }
}


// Mixins
// ------------------------------

@mixin border-radius($radius, $color, $width) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; -o-border-radius: $radius; border-radius: $radius; border: solid $width $color; }
@mixin db-linear-gradient($color1, $color2) { /* Fallback */ background: $color1; background: -webkit-linear-gradient(to bottom, $color1, $color2); background: linear-gradient(to bottom, $color1, $color2); }
@mixin box-shadow($x, $y, $blur, $spread, $color) { -webkit-box-shadow: $x $y $blur $spread $color; -moz-box-shadow: $x $y $blur $spread $color; -ms-box-shadow: $x $y $blur $spread $color; -o-box-shadow: $x $y $blur $spread $color; box-shadow: $x $y $blur $spread $color; }
@mixin transitions($property: all, $duration: 0.3s, $timing: ease, $delay: 0) { -webkit-transition: $property $duration $timing $delay; -moz-transition: $property $duration $timing $delay; -ms-transition: $property $duration $timing $delay; -o-transition: $property $duration $timing $delay; transition: $property $duration $timing $delay; }



// Landing Page
// ------------------------------
.hero { position: relative; height: 20*$unit; background: $color no-repeat url('images/hero-bg.png'); background-size: cover; color: white; @extend .txt-center; }
.hero-content { @extend .absolute-center-content; }
.main-title { margin: $base/1.5 0; font-size: 2.5*$base; letter-spacing: 0.15em; }
.main-infos { margin-bottom: $unit; font-size: $unit; @extend .font-light; letter-spacing: 0.1em; }
.db-button { height: 2.2*$unit; line-height: 2.2*$unit; padding: 0 $base; color: white; border: none; @include border-radius($base/3, $db-button-1, 1px); @include db-linear-gradient($db-button-1, $db-button-2); @include box-shadow(0px, 6px, 4px, 0px, rgba(0, 0, 0, 0.1)); @extend .cursor; letter-spacing: 0.1em; }
.db-icon { vertical-align: sub; margin-right: 0.5em; }

.lp-wrapper { display: block; width: 66%; height: 100%; margin: 4*$unit auto; @extend .clearfix; }
.article { width: 15*$unit; }
.title-icon { display: inline-block; width: 2*$base; height: 2*$base; margin-right: $base/2; }
.db-title { opacity: 0.57; }
h3 { display: inline-block; height: 2*$base; margin-bottom: $unit; border-bottom: solid 3px $title-color; color: $title-color; text-transform: uppercase; letter-spacing: 0.3em; vertical-align: top; @extend .font-bold; }
.text { line-height: 1.66; text-align: justify; }

.big-quote { float: none; width: 66%; margin: 2*$unit auto; font-size: 2*$base; @extend .italic; @extend .font-light; @extend .txt-center; }
.big-quote:before { content: "« "; }
.big-quote:after { content: " »"; display: inline; }

.team-member { float: left; width: 20%; }
.photos { max-width: 80%; }
.name { display: block; color: $title-color; font-family: $serif; margin: 1em 0 0 0; @extend .italic; @extend .font-bold; }
.role { display: block; color: $title-color; font-family: $sans;  margin: 0.9em 0; font-size: 0.6*$base; font-style: normal; opacity: 0.5; text-transform: uppercase; letter-spacing: 0.3em; @extend .font-regular; }

.pre-footer { position: relative; height: 10*$unit; background: $color no-repeat url('images/hero-bg.png'); background-size: cover; color: $footer-font; font-family: $serif; @extend .italic; @extend .txt-center; @extend .font-light; }
.pre-footer-content { @extend .absolute-center-content; }
.contact-title { border-bottom: solid 3px white; color: white; font-family: $sans; font-style: normal; }
.contact-mail { color: white; font-family: $sans; }
.contact-mail:before { content: ""; }
.contact-mail:after { content: ""; }
.footer-text { color: $footer-font; font-size: 0.8em;}
footer { height: 3*$unit; line-height: 3*$unit; background: $footer-bckg; }

@media screen and (max-width: 1200px) {
	.lp-wrapper { width: 85%; margin: 2*$unit auto; }
	.db-button { padding: 0 $base/2; }
	.db-icon { display: none; }
	.article { float: none; width: 100%; margin-bottom: 2*$unit; }
	.article:last-child { margin-bottom: 0; }
	h3 { letter-spacing: 0.2em; }
	blockquote .big { margin: 0; }
	.team-member { display: inline-block; float: none; width: 30%; text-align: center; }
	.name { font-size: 0.55em; }
	.role { font-size: 0.4em; }
}



// Application
// ------------------------------

.app-header 		{ display: block; height: 3*$base; line-height: 3*$base; background: $color; color: #FFF; }
.app-nav 			{ float: left; background: $dark; }
.app-nav-link 		{ @extend .font-bold; @include transitions; display: block; padding: 0 $unit; font-size: $unit; color: #FFF; &:hover { background: lighten($dark, 10%); } }
.app-header-name 	{ text-align: center; }

.app-form 			{ max-width: 100%; white-space: nowrap; }
.app-input 			{ display: inline-block; width: 100%; height: 3*$base; padding-left: $base/2; }
.app-form-submit 	{ width: 20%; }

.app-task 			{ padding: $base; border-bottom: solid 1px #DDD; }
.app-task-infos 	{ font-size: $unit/2; color: $light; }
.app-task-options 	{ @extend .app-task; height: 3*$base+$unit/2; line-height: $base+$unit/2; text-align: center; background: $color; }
.app-task-icon 		{ padding: $base $unit; color: white; }
.app-task-rename 	{ @extend .app-task; .app-input { height: 2*$base; } }

.app-aside 			{ padding: $base; text-align: center; }


// Calendar
// ------------------------------
.cal 			{ width: 100%; margin-top: $base; table-layout: fixed; border-collapse: collapse; background: #fff; }
.cal-td 		{ @extend .txt-center; padding: $base 0; line-height: 1; border: 1px solid $shade; font-family: $sans; }
.cal-month 		{ @extend .cal-td; }
.cal-btn 		{ @extend .cal-td, .cursor, .noselect; &:hover { background: $shade; }}
.cal-switch 	{ @extend .cal-btn, .font-bold; }
.cal-th 		{ @extend .cal-td, .font-xbold; font-size: $base; text-transform: uppercase; }
.cal-cell 		{ @extend .cal-btn; font-size: $base; }
.cal-today 		{ font-weight: bold; }
.cal-disabled 	{ opacity: .2; }
.cal-weekend 	{ background: lighten($shade, 5%); color: $light; }
.cal-current 	{ background: $color; color: #fff; &:hover { background: $color; }}