<section class="main-project">
	<h1 class="section-title">{{ project.name }} - Users</h1>
	<p>Want to see the tasks of this project ? <a href="#/projects/{{ project.id }}">Click here !</a></p>
	<p class="part-title">Users list :</p>
	<div class="task-list">
		<ul>
			<li ng-repeat="user in project.users">
				<h3 class="task-title">{{ user.name }}</h3>
				<div class="task-description">
					<p>{{ user.email }}</p>
					<p>{{ user.uid }}</p>
				</div>
			</li>
		</ul>
	</div>
</section>