<section class="home-wrapper">
	<header class="home-connection">
		<h1><a href="//synapp.se" title="Synapp.se - Online project management FTW">Synapp.se</a></h1>
		<h2>Online project management FTW</h2>

		<form ng-submit="login()">
			<h2>Login</h2>
			<p>You don't have an account yet ?? Go <a href="#/home">sign up !</a> NOW !!!</p>
			<input ng-Model="knownUser.username"  type="text"  placeholder="Name" >
			<input ng-Model="knownUser.email"	 type="email" placeholder="Email">
			<input type="submit" value="Log in !">
			<a href="#/tasks">Tasks</a>
		</form>
	</header>
</section>