<section class="home-wrapper">
	<h1 class="home-title">Welcome to Synapp.se !</h1>

	<h2>Want to create a new project ? Just type it here !</h2>
	<form class="home-creation" ng-submit="createProject()">
    	<input ng-model="name" type="text" placeholder="Choose a name for the new project !">
    	<input type="submit" value="Create now !">
    </form>

	<h2>Already have a project ? Download 'em all !</h2>
    <p class="sync-buttons" ng-show="auth">
		<a href="" ng-click="sync()">Get projects !</a>
    </p>
</section>