<section class="">
	<h2>Add a task</h2>

	<form ng-submit="addTask()">
		<label for="taskName">Task name :</label>
		<input name="taskName" ng-Model="task.taskName" type="text">

		<label for="taskDescription">Task description :</label>
		<textarea name="taskDescription" ng-Model="task.taskDescription"></textarea>

		<label for="createdBy">Who are you ?</label>
		<select ng-Model="task.fromUser" name="createdBy">
			<option ng-repeat="user in users">{{ user.username }}</option>
		</select>

		<label for="assignedTo">Who to assign this task to ?</label>
		<select ng-Model="task.toUser" name="assignedTo">
			<option ng-repeat="user in users">{{ user.username }}</option>
		</select>

		<input type="submit" value="Add the new task">
	</form>

	<ul class="task-list">
		<li ng-repeat="task in tasks">
			<h3>{{ task.taskName }}</h3>
			<time class="task-date">{{ task.taskDate }}</time>
			<p class="task-id"># {{ task.id }}</p>
			<div class="task-description">
				<p>{{ task.taskDescription }}</p>
			</div>
			<p>Created by : {{ task.fromUser }}</p>
			<p>Assigned to : {{ task.toUser }}</p>
		</li>
	</ul>

	<a href="" ng-click="sync()">Sync</a>
</section>