<section>
	<section>
		<div ng-hide="editMode">
			<span class="form-fake" ng-click="toggleForm()">Enter your task here with some #hastags</span>
		</div>
		<div task-form ng-if="editMode"></div>
	</section>
	
	<article class="task" ng-repeat="task in project.tasks" ng-controller="TaskCtrl">
		<div task-form ng-if="editMode"></div>
		<p ng-hide="editMode">
			<time class="task-date" ng-hide="editMode">{{ task.due | miniDate }}</time>
			<span class="task-content">
				<a class="task-name" href="" ng-click="toggleForm()">{{ task.name }}</a>
				<span class="task-info">
					<span ng-repeat="user in task.users">{{ user | DropboxUIDToUsername: project.id | Assignee }}</span>
					<select ng-model="task.status" ng-options="s.k as s.v for s in statuses"></select>
				</span>
			</span>
			<span class="task-comments-nb"><a href="">0</a></span>
		</p>
	</article>
</section>