<section>
	<section class="row">
		<div task-form class="col-lg-8 col-lg-offset-2"></div>
	</section>
	
	<article class="row" ng-repeat="task in project.tasks" ng-controller="TaskCtrl">
		<div task-form class="col-lg-8 col-lg-offset-2" ng-show="editMode"></div>
		<time class="col-lg-2 text-right" ng-hide="editMode">{{ task.end }}</time>
		<strong class="col-lg-8" ng-hide="editMode"><a href="" ng-click="toggleEditMode()">{{ task.name }}</a></strong>
		<span class="col-lg-2"><a href="" class="glyphicon glyphicon-comment"></a></span>
	</article>
</section>